.pageContainer {
  background-image: url('/assets/background.png');
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.playersContainer {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.handContainer {
  position: fixed;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

/* Topo */
.player:not(.currentUser):nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}
.player:not(.currentUser):nth-child(2) {
  grid-column: 3;
  grid-row: 2;
}
.player:not(.currentUser):nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

/* Cantos superiores */
.player:not(.currentUser):nth-child(4) {
  grid-column: 1;
  grid-row: 1;
}

.player:not(.currentUser):nth-child(5) {
  grid-column: 3;
  grid-row: 1;
}

.player:not(.currentUser):nth-child(6) {
  grid-column: 1;
  grid-row: 3;
}

/* Posição específica para o currentUser */
.currentUser {
  grid-column: 3;
  grid-row: 3;
}
