/* pages/error/ErrorPage.module.css */
.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.errorContainer h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.errorContainer p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.errorContainer img {
  max-height: 200px;
  opacity: 0.5;
}
