.pageContainer {
  background-image: url('/assets/background.png');
  background-color: #000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.handContainer {
  position: fixed;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tableGame {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.playerContainer {
  position: relative;
  z-index: 999;
}
